*{
    padding: 0%;
    margin: 0%;

}
body{
    background-color: black;
}
.bg{
    background-image: url(image/bg.jpg);
    height: 80vh;
    position: relative;
    background-size:max(1200px,100vw);
    background-position: center;
    background-repeat: no-repeat;
    color: red;

}
.box{
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.70;
    position: absolute;
    top: 0;

}
.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    height: 60px;
}
.button{
    display: flex;
    align-items: flex-end;
}
nav img{
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
    font-weight: 900;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    height: calc(100% - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size:3rem;
    position: relative;
    padding: 0 30px;

}
.hero> :first-child{
    font-weight: bolder;
    font-size: 48px;

}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
}
.seperation{
    height: 7px;
    background-color: rgb(79, 78, 78);
}
.btn{
    padding: 3x 8px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}
.btn-red{
    background-color: rgb(199, 34, 34);
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}
.btn-red-sm{
    background-color: rgb(211, 42, 42);
    color: white;
    font-size: 15px;
    margin-left: 10px;

}
.btn-red-enlish{
    background-color: rgba(23, 23, 23, 0.9);
    color: white;
    border:1px solid white;
    font-size:14px ;
    
}
.hero input{
    padding: 3px 24px;
    color: white;
    width: 20vw;
    font-size: 20px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.3);
    border: 0.5px solid rgb(192, 184, 184);
}
.nav2{
    height: 68px;
    color: white;
    font-size: 30px;
    margin-left:50px;
    margin-top: 20px;
}
.country{
    display: flex;
    align-items: center;
    
      
}
.country1{
    height: 40px;
    width: 501px;
    color: white;
    font-size: 20px;
    background-color: rgba(23, 23, 23, 0.3);
    padding: 8px 36px 8px 12px;
    margin-left: 50px;
    border-radius: 4px;
}
.category{
    height: 40px;
    width: 501px;
    color: white;
    font-size: 20px;
    background-color: rgba(23, 23, 23, 0.3);
    padding: 8px 36px 8px 12px;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 4px;
}
.moviesection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.box1{
    background-image: url(image/flilm1.webp);
    display: flex;
    height: 300px;
    width: 196px;
    background-size:cover;
    border-radius: 10px;
    margin-top: 5rem;
    

}
.box2{
    background-image: url(image/film2.webp);
    display: flex;
    height: 300px;
    width: 196px;
    background-size:cover;
    border-radius: 10px;
    margin-top: 5rem;
}
.box3{
    background-image: url(image/film3.webp);
    display: flex;
    height: 300px;
    width: 196px;
    background-size:cover;
    border-radius: 10px;
    margin-top: 5rem;
}
.box4{
    background-image: url(image/film4.webp);
    display: flex;
    height: 300px;
    width: 196px;
    background-size:cover;
    border-radius: 10px;
    margin-top: 5rem;
}
.box5{
    background-image: url(image/film5.webp);
    display: flex;
    height: 300px;
    width: 196px;
    background-size:cover;
    border-radius: 10px;
    margin-top: 5rem;
}
.trend{
 color:rgb(232, 221, 221);
 display: flex;
 flex-direction:column-reverse;
 font-size: 6rem;
 font-weight: 800;

}
.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}



.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}
.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}



@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}